__pycache__
/TestConsoleApp/TestConsoleApp/bin/Debug/net6.0
/TestConsoleApp/TestConsoleApp/obj/Debug/net6.0/ref
/TestConsoleApp/TestConsoleApp/obj/Debug/net6.0
/TestConsoleApp/TestConsoleApp/obj
/TestConsoleApp/.vs/TestConsoleApp
/.vs
